
<section class="main-section">
  <header>
    <h1>To Do List</h1>
    <input placeholder="What" #newTodo (keyup.enter)="addToList(newTodo.value); newTodo.value='' "/>
  </header>
</section>
<section class="list-section">
<ul>
  <li *ngFor="let todoItem of toDoItems; let i = index">
    <div [class.checked]="todoItem.isChecked">
      {{todoItem.isChecked}}
      <input type="checkbox" (click)="toggleTodo(i)" [checked]="todoItem.isChecked"/>
        {{todoItem.task}}
      <input class="remove" type="checkbox" (click)="removeTodo(i)"/>
    </div>
  </li>
</ul>
</section>

<!--animation bear eating it-->