html,
body {
 margin: 0;
 padding: 0;

}

body {
    margin: 0 auto;
    min-width: 230px;
	max-width: 550px;
}
.main-section,.list-section {
    margin: 0 auto;
    width: 50%
}

h1 {
    margin: 0 auto;
    width: 50%;
}