
<section class="todo-section">
  <section class="input-section">
    <header>
      <h1>To Do List</h1>
      <input placeholder="What's on your mind?"
      class="new-todo"
      autofocus #newTodo
      (keyup.enter)="add(newTodo.value); newTodo.value='' "/>
    </header>
  </section>
  <section class="list-section">
    <ul>
      <li *ngFor="let todoItem of toDoItems; let i = index">
        <div [class.checked]="todoItem.isComplete">
          <label class="custom-checkbox">
            <input type="checkbox"
            (click)="todoItem.toggleComplete(); update(i, todoItem)"
            [checked]="todoItem.isComplete"/>
            <span class="check-mark"></span>
          </label>
          <label>{{ todoItem.getTask }}</label>
          <button class="remove" (click)="removeTodo(i)">x</button>
        </div>
      </li>
    </ul>
  </section>
</section>
<!--animation bear eating it-->